<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
<meta charset="UTF-8">
<title>angular</title>
<script src="angular.js"></script>
<style>
	#div1{
		width:100px;
		height:200px;
		background:#ccc;
	}
</style>
</head>
<body>
<p>
	<select name="" id="" ng-model="city">
		<option value="111">北京</option>
		<option value="222">上海</option>
		<option value="3333">武汉</option>
	</select>
	<select name="" id="" ng-model="city">
		<option value="111">北京</option>
		<option value="222">上海</option>
		<option value="3333">武汉</option>
	</select>
	<select name="" id="" ng-model="city">
		<option value="111">北京</option>
		<option value="222">上海</option>
		<option value="3333">武汉</option>
	</select>
	城市{{city}}
	<input type="text" ng-model="city">
</p>
</body>
</html>